{
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "bracketSpacing": true,
  "editorconfig": true,
  "endOfLine": "lf",
  "bracketSameLine": true,
  "parser": "typescript",
  "printWidth": 120
}
